<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Jogos </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <th>Número</th>
        <th>Seleção</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Seleção</th>
        <th></th>
        
      </tr>
      <tr *ngFor="let jogo of jogos">
        <td>{{jogo.id}}</td>
        <td>{{jogo.selecaoA?.nome}}</td>
        <td>{{jogo.selecaoA_gols}}</td>
        <td>X</td>
        <td>{{jogo.selecaoB_gols}}</td>
        <td>{{jogo.selecaoB?.nome}}</td>
        <td>
          <a type="button" mat-raised-button
          color="warn" routerLink="/pages/jogo/palpitar/{{ jogo.id }}"> Palpitar </a></td>
        
      </tr>
    </table>
  
  </mat-card-content>
</mat-card>
